.header {
    position: relative;

    padding-top: 2rem;
    padding-bottom: .5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 3rem;
}


/* ------------------------ */
/* MOBILE                   */
/* ------------------------ */

.header__nav-mobile {    
    position: absolute;
    top: 5rem;
    z-index: 5;

    width: calc(100% - 2.5rem);
    padding: 2rem 1.5rem;
    border-radius: 0.25rem;
    background-color: var(--col-primary-2);
    color: white;
    text-align: center;

    /* When toggling, class .hide from index.css is applied */
    visibility: visible;
    opacity: 1;
    transition: .15s;
}

.header__btn-mobile-menu {
    font-size: 1.75rem;
    color: var(--col-neutral-2);
}

.btn-primary--mobile,
.btn-secondary--mobile {
    width: 100%;
    height: 100%;

    font-weight: 700;
    font-size: 1rem;
}

.btn-secondary--mobile {
    color: white;
}

.btn-secondary--mobile:hover {
    color: var(--col-neutral-2);
}

.header__nav-mobile > ul {    
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    font-size: 1.5rem;
}

.header__nav-mobile li {
    display: grid;
    place-items: center;
}

hr {
    border: none;
    height: 1px;
    background-color: var(--col-hr);
}


/* ------------------------ */
/* DESKTOP                  */
/* ------------------------ */

.header__nav-desktop {
    flex-grow: 1;

    display: none;
    justify-content: space-between;
}

.header__nav-desktop > ul {
    display: flex;
    align-items: baseline;
    column-gap: 2rem;
}

.header__nav-desktop .btn-primary,
.header__nav-desktop .btn-secondary {
    font-size: .8rem;
}

.header__nav-desktop .btn-primary {
    /* Make primary button aligned with the secondary */
    margin-top: -1rem;
}


/* ------------------------ */
/* QUERIES                  */
/* ------------------------ */

@media (min-width:786px) {
    .header__nav-desktop {
        display: flex;
    }

    .header__nav-mobile,
    .header__btn-mobile-menu {
        display: none;
    }
}