.footer {
    background-color: var(--col-neutral-4);
}

.footer > .container {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.footer__logo {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.footer__logo path {
    fill: white;
}

.footer__nav-list__title {
    color: white;
}

.footer a {
    color: var(--col-neutral-2);
    text-decoration: none;
}

.footer__social-icons {
    display: flex;
    justify-content: center;
    column-gap: 1.25rem;
}

.footer__social-icons a {
    transition: .15s;
}

.footer__social-icons a:hover {
    opacity: 0.8;
}

.footer__social-icon {
    width: 1.5rem;
}

.footer__social-icon path {
    fill: white;
}

.footer__site-map {
    display: grid;
    gap: 2rem;
}

.footer__nav-list__title {
    margin-bottom: 1rem;
    font-size: .9rem;
    font-weight: 500;
}

.footer__nav-list > ul {
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
    font-size: .875rem;
}

.footer__social-icons {
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.footer__social-icons ul {
    display: flex;
    column-gap: 1.25rem;
}


@media (min-width:900px) {
    .footer .container {
        padding-top: 4rem;
        padding-bottom: 4rem;
        flex-direction: row;
        justify-content: end;
    }

    .footer__logo {        
        flex-basis: 15rem;
        flex-grow: 1;
    }

    .footer__site-map {
        display: grid;
        grid-template-columns: repeat(3, minmax(10vw, 10.5rem));
        gap: 0;
    }

    .footer__nav-list {
        text-align: left;
    }

    .footer__nav-list__title {
        margin-bottom: 1rem;
        font-size: .9rem;
        font-weight: 500;
    }

    .footer__nav-list > ul {
        display: flex;
        flex-direction: column;
        row-gap: .5rem;
        font-size: .875rem;
    }
    
    .footer__logo,
    .footer__social-icons {
        margin-top: initial;
        margin-bottom: initial;
    }
}