/* ------------------------ */
/* Table of contents        */
/* ------------------------ */
/* 1. Properties            */
/* 2. Layout                */
/* 3. Typography            */
/* 4. Utility               */
/* 5. Queries               */
/* ------------------------ */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');


/* ------------------------ */
/* 1.PROPERTIES             */
/* ------------------------ */

:root {
    --col-primary-1: hsl(180, 66%, 49%);
    --col-primary-2: hsl(257, 27%, 26%);
    --col-secondary: hsl(0, 87%, 67%);
    
    --col-primary-1-hover: hsl(180, 66%, 75%);

    --col-neutral-1: hsl(0, 0%, 75%);
    --col-neutral-2: hsl(257, 7%, 63%);
    --col-neutral-3: hsl(255, 11%, 22%);
    --col-neutral-4: hsl(260, 8%, 14%);

    --col-hr: hsl(257, 19%, 36%);

    --font-family: 'Poppins', sans-serif;
    --font-size: 18px;
}


/* ------------------------ */
/* 2.LAYOUT                 */
/* ------------------------ */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.container {
    padding: 1rem;
}


/* ------------------------ */
/* 3.TYPOGRAPHY             */
/* ------------------------ */

html {
    font-family: var(--font-family);
    font-size: var(--font-size);
}

ul {
    list-style-type: none;
}

h1 {
    font-size: 3rem;
}

h3 {
    font-size: 2.25rem;
}

h4 {
    font-size: 2rem;
}

h6 {
    font-size: 1rem;
}


/* ------------------------ */
/* 4.UTILITY                */
/* ------------------------ */

.hide {
    visibility: hidden !important;
    opacity: 0 !important;
}

.copied {
    background-color: var(--col-primary-2) !important;
}

.btn-primary {
    background-color: var(--col-primary-1);
    border-radius: 2em;
    border-style: none;
    padding: .75em 1.25em;
    color: white;
}

.btn-primary:hover {
    background-color: var(--col-primary-1-hover);
    cursor: pointer;
}

.btn-secondary {
    text-decoration: none;
    color: var(--col-neutral-2);
}

.btn-secondary:hover {
    color: var(--col-neutral-4);
}

.btn-primary,
.btn-secondary {
    font-weight: 700;
    transition: .15s;
}


/* ------------------------ */
/* 6.QUERIES                */
/* ------------------------ */

@media (min-width:1000px) {
    .container {
        width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
}